/* small */
  .App{

  position: absolute;
  left: 20%;
  top: 25%;
  min-width: 50%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }
  .todos-Container{
  height: 100%;
  width: 100%;
font-size: 2em;
    }
  .list-Item-Container{
    display: flex;
    justify-content: space-between;
  }
  ul{
    line-height: 2em;
    margin-top: 40px;
  }
  li{

    max-width: 325px;
   overflow-wrap: break-word;
   word-wrap: break-word;

  }
  .list-Item-Container span button{


  }
  button{
    background-color: black;
    color: white;
  }




  form{
    width: 100%;
  text-align:center}
  form input{
    width: 68%;
  }
  .todo-item{
    transition-duration: .4s;
  }
.done{
  color: rgb(105,105,105)
;
  font-size: .75em;
  transition-duration: .4s;
}
@media screen and (min-width: 425px)   {
  /* medium*/
  .App{
  position: absolute;
  left: 24%;
  top: 26%;
  min-width: 50%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }
  .todos-Container{
  height: 100%;
  width: 100%;
    }
  .list-Item-Container{
    display: flex;
    justify-content: space-between;
  }
  ul{
    line-height: 2em;
    margin-top: 40px;
  }
  li{

    max-width: 325px;
   overflow-wrap: break-word;
   word-wrap: break-word;

  }
  .list-Item-Container span button{


  }
  button{
    background-color: black;
    color: white;
  }




  form{
    width: 100%;
  text-align:center}
  form input{
    width: 68%;
  }
}

/*large */
@media screen and (min-width: 769px)   {
  .App{

  position: absolute;
  left: 26em;
  top: 9em;
  width: 30em;
  height: 28em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }
  .todos-Container{
  height: 100%;
  width: 100%;

    }
  .list-Item-Container{
    display: flex;
    justify-content: space-between;
  }
  ul{
    line-height: 2em;
    margin-top: 40px;
  }
  li{

    max-width: 325px;
   overflow-wrap: break-word;
   word-wrap: break-word;

  }
  .list-Item-Container span button{


  }
  button{
    background-color: black;
    color: white;
  }




  form{
    width: 100%;
  text-align:center}
  form input{
    width: 68%;
  }
}
